/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
::ng-deep * {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

::ng-deep a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

::ng-deep a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}