/* #region Custom */
.custom-parent {
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

app-footer {
    margin-top: auto;
}

.custom-header {
    border-bottom: 0.1px solid color-mix(in srgb, var(--accent-color), transparent 85%);
}
/* #endregion */

/* #region General */
::ng-deep .custom-child{
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

::ng-deep .custom-child a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

::ng-deep .custom-child a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

::ng-deep .custom-child h1,
::ng-deep .custom-child h2,
::ng-deep .custom-child h3,
::ng-deep .custom-child h4,
::ng-deep .custom-child h5,
::ng-deep .custom-child h6,
::ng-deep .custom-child p {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

/* #endregion */

/* #region Sections */
::ng-deep section,
::ng-deep .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 30px 0;
    scroll-margin-top: 72px;
    overflow: clip;
}
::ng-deep .section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

::ng-deep .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

::ng-deep .section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}

::ng-deep .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

::ng-deep .section-title p {
    margin-bottom: 0;
}

::ng-deep .custom-title {
    width: fit-content;
    border-bottom: 2px solid var(--accent-color);
    color: var(--heading-color);
    margin: auto;
}

::ng-deep .custom-title h2 {
    margin-bottom: 0.3em;
    font-weight: 700;
    text-align: center;
}

::ng-deep .custom-title p {
    margin-bottom: 0.3em;
    font-weight: 700;
    text-align: center;
}

::ng-deep .custom-bttuons-after-title {
    margin-top: 1em;
    text-align: center;
}

::ng-deep .custom-bttuons-after-title .btn{
    width: 25%;
}

::ng-deep .custom-bttuons-after-title .btn:hover {
    font-weight: 900;
    background-color: inherit;
    border-color: var(--heading-color);
    color: var(--heading-color);
}

::ng-deep .custom-bttuons-after-title .btn {
    font-weight: 900;
    background-color: var(--heading-color);
    border-color: var(--heading-color);
    color: white;
}


::ng-deep .custom-ok-button .btn{
    font-weight: 900;
    width: 100%;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

::ng-deep .custom-ok-button .btn:focus{
    font-weight: 900;
    width: 100%;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;

}

::ng-deep .custom-ok-button .btn:hover{
    width: 100%;
    background-color: white;
    border-color: var(--accent-color);
    color: var(--accent-color);
}

::ng-deep .custom-no-button .btn{
    font-weight: 900;
    width: 100%;
    background-color: var(--heading-color);
    border-color: var(--heading-color);
    color: white;
}

::ng-deep .custom-no-button .btn:focus{
    font-weight: 900;
    width: 100%;
    background-color: var(--heading-color);
    border-color: var(--heading-color);
    color: white;
}

::ng-deep .custom-no-button .btn:hover{
    width: 100%;
    background-color: white;
    border-color: var(--heading-color);
    color: var(--heading-color);
}

::ng-deep .custom-notification-message h2{
    font-weight: 600;
    color: var(--heading-color);
}

::ng-deep .custom-notification-message h3{
    font-weight: 400;
    color: var(--heading-color);
}


::ng-deep .custom-field-layout{
    text-align: center;
    margin: auto;
}

::ng-deep .custom-field-layout input{
    width: 100%;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
    text-align: center;
}

::ng-deep .custom-field-layout input:focus{
    box-shadow: 0 0 0 0.1em var(--heading-color);
    border-color: var(--heading-color);
}

::ng-deep .custom-errors-layout span{
    font-weight: 800;
}


/* #endregion */
