<div class="cutom-child" dir="rtl">
    <section class="section">
        <div dir="rtl" class="mb-5 custom-form">


            <!-- #region Back button-->
            <div class="container text-center mb-3">
                <div class="custom-back-button">
                    <a [routerLink]="['..']" appScrollToTop>
                        <button class="btn btn-outline-primary">
                            عودة<i class="bi bi-arrow-left"></i>
                        </button>
                    </a>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Title-->
            <div class="text-center custom-form-title mb-4">
                <h3 style="font-weight: 800;">إضافة رقم هاتف</h3>
            </div>
            <!-- #endregion -->

            <!-- #region Server-side errors -->
            <div *ngIf="isFailure" class="mb-3 d-grid gap-3 custom-server-error-message">
                <button type="button" class="btn btn-danger">خطأ: {{errorMessage}}</button>
            </div>
            <!-- #endregion -->

            <!-- #region Form-->
            <form #form="ngForm" (ngSubmit)="onSubmit()" class="text-center custom-form-container" autocomplete="off">
                <!-- #region Name field-->
                <div class="form-group mb-3 custom-field">
                    <label for="firstName" class="col-form-label custom-label">
                        الاسم
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control text-center custom-input" placeholder="ادخل الاسم" dir="rtl"
                        [(ngModel)]="formModel.name" name="firstName" #name="ngModel" required maxlength="50">
                    <div *ngIf="(name.touched || name.dirty) && (name.errors)" class="custom-error-message">
                        <p class="text-danger">
                            {{
                            name.errors['required'] ? 'هذا الحقل مطلوب'
                            : ''
                            }}
                        </p>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region Phone field-->
                <div class="form-group mb-3 custom-field">
                    <label for="phone" class="col-form-label custom-label">
                        رقم الهاتف
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control text-center custom-input" placeholder="ادخل رقم الهاتف"
                        dir="ltr" [(ngModel)]="formModel.phone" name="phone" #phone="ngModel" required maxlength="50">
                    <div *ngIf="(phone.touched || phone.dirty) && (phone.errors)" class="custom-error-message">
                        <p class="text-danger">
                            {{
                            phone.errors['required'] ? 'هذا الحقل مطلوب'
                            : ''
                            }}
                        </p>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region Buttons-->
                <div class="d-grid gap-3 mb-5 custom-buttons custom-form-buttons">

                    <button type="submit" class="btn btn-outline-primary"
                        [disabled]="form.invalid">
                        حفظ
                        <i class="bi bi-save"></i>
                    </button>

                </div>
                <!-- #endregion -->
            </form>
            <!-- #endregion -->
            
        </div>
    </section>
</div>