.custom-input,
.custom-input::placeholder {
    color: var(--heading-color);   
}

.custom-input::placeholder {
    opacity: 40%;
}

.custom-input {
    background-color: var(--background-color);
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
    margin-bottom: 0.3em;
}

.custom-input:focus {
    box-shadow: 0 0 0 0.1em var(--heading-color);
  }

.custom-label {
    color: var(--heading-color);   
    font-weight: 700;
}

.btn {
    font-weight: 700;
}

.custom-cancel-button {
    color: white;
    background-color: var(--heading-color);
    border-color: var(--heading-color);
}
.custom-cancel-button:hover {
    color: var(--heading-color);
    background-color: white;
}

.custom-confirm-button {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.custom-confirm-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: white;
}

.custom-errors {
    font-weight: 700;
}