<div class="custom-child" dir="rtl">
    <section class="section">
        
        <!-- #region Title-->
        <div class="custom-title">
            <h2>قائمة الانتظار:</h2>
            <p>مرتبة حسب ساعة الوصول</p>
        </div>
        <!-- #endregion -->

        <!-- #region buttons-->
        <div class="custom-bttuons-after-title custom-create-button" >
            <a [routerLink]="['create']"><button class="btn btn-lg btn-outline-success mb-5">إضافة +</button></a>
        </div>
        <!-- #endregion -->

        <!-- #region container-->
        <div class="container">
            <div class="row gy-5 ">
                <div class="col-lg-4 col-md-6">
                    <app-waiting-list-item></app-waiting-list-item>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </section>
</div>