::ng-deep .custom-title {
    width: fit-content;
    padding-bottom: 0.3em;
    border-bottom: 2px solid var(--accent-color);
    color: var(--heading-color);
}

::ng-deep .custom-title h2 {
    font-weight: 700;
}

