<div class="custom-child" dir="rtl">
    <div>

        <div class="text-center">
            <h3 style="font-weight: 800;">إضافة طبيب</h3>
        </div>

        <hr>

        <div *ngIf="isFailure" class="d-grid mb-2">
            <button type="button" class="btn btn-danger" style="cursor: auto;">خطأ: {{errorMessage}}</button>
        </div>

        <form #createDoctorUserForm="ngForm" (ngSubmit)="onSubmit()" class="text-center" autocomplete="off">

            <!-- To avoid first field auto focus -->
            <div class="form-group">
                <input type="text" autofocus="autofocus" style="display:none" />
            </div>

            <div class="form-group mb-2">
                <label for="username" class="col-form-label custom-label mb-2">اسم المستخدم <span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control text-center custom-input mb-2" placeholder="ادخل اسم المستخدم"
                    dir="ltr" [(ngModel)]="formModel.userName" name="userName" #userName="ngModel" required
                    maxlength="50">

                <div *ngIf="(userName.touched || userName.dirty) && userName.errors" class="mb-2">
                    <span class="text-danger">
                        {{
                        userName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                        }}
                    </span>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="password" class="col-form-label custom-label mb-2">كلمة المرور <span
                        class="text-danger">*</span></label>
                <input type="password" class="form-control text-center custom-input mb-2" placeholder="ادخل كلمة المرور"
                    dir="ltr" [(ngModel)]="formModel.password" name="password" #password="ngModel" required
                    maxlength="50">

                <div *ngIf="(password.touched || password.dirty) && password.errors" class="mb-2">
                    <span class="text-danger">
                        {{
                        password.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                        }}
                    </span>
                </div>

            </div>

            <div class="form-group mb-2">
                <label for="firstName" class="col-form-label custom-label mb-2">الاسم الأول <span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control text-center custom-input mt-2" placeholder="ادخل الاسم الأول"
                    [(ngModel)]="formModel.firstName" name="firstName" #firstName="ngModel" required maxlength="50">

                <div *ngIf="(firstName.touched || firstName.dirty) && firstName.errors" class="mb-2">
                    <span class="text-danger">
                        {{
                        firstName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                        }}
                    </span>
                </div>

            </div>

            <div class="form-group mb-2">
                <label for="middleName" class="col-form-label custom-label mb-2">اسم الأب<span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control text-center custom-input mb-2" placeholder="ادخل اسم الأب"
                    [(ngModel)]="formModel.middleName" name="middleName" #middleName="ngModel" required maxlength="50">

                <div *ngIf="(middleName.touched || middleName.dirty) && middleName.errors" class="mb-2">
                    <span class="text-danger">
                        {{
                        middleName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                        }}
                    </span>
                </div>

            </div>

            <div class="form-group mb-2">
                <label for="lastName" class="col-form-label custom-label mb-2">الكنية<span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control text-center custom-input mb-2" placeholder="ادخل الكنية"
                    [(ngModel)]="formModel.lastName" name="lastName" #lastName="ngModel" required maxlength="50">

                <div *ngIf="(lastName.touched || lastName.dirty) && lastName.errors" class="mb-2">
                    <span class="text-danger">
                        {{
                        lastName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                        }}
                    </span>
                </div>

            </div>

            <div class="d-grid gap-3">
                <button type="submit" class="btn btn-outline-primary"
                    [disabled]="!createDoctorUserForm.dirty || createDoctorUserForm.invalid">حفظ</button>

                <button type="button" class="btn btn-outline-secondary custom-cancel-button"
                    (click)="parentModal.dismiss()">الغاء</button>
            </div>
        </form>
    </div>
</div>