<div dir="rtl" class="mt-5 mb-5 custom-form">
    
    <!-- #region Title-->

    <div class="text-center custom-title mb-4">
        <h3 style="font-weight: 800;">إضافة طبيب</h3>
    </div>

    <!-- #endregion -->
    
    <!-- #region Server-side errors -->
    <div *ngIf="isFailure" class="mb-3 d-grid gap-3 custom-server-error-message">
        <button type="button" class="btn btn-danger">خطأ: {{errorMessage}}</button>
    </div>
    <!-- #endregion -->

    <form #createDoctorUserForm="ngForm" (ngSubmit)="onSubmit()" class="text-center" autocomplete="off">

        <!-- #region Username-->
        <div class="form-group mb-3 custom-field">

            <label for="username" class="col-form-label custom-label">
                اسم المستخدم
                <span class="text-danger">*</span>
            </label>

            <input
                type="text" class="form-control text-center custom-input"
                placeholder="ادخل اسم المستخدم" dir="ltr"

                [(ngModel)]="formModel.userName" name="userName" 

                #userName="ngModel" required maxlength="50"
            >

            <div *ngIf="(userName.touched || userName.dirty) && userName.errors"
                class="custom-error-message">

                <p class="text-danger">
                    {{
                        userName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                    }}
                </p>

            </div>

        </div>
        <!-- #endregion -->

        <!-- #region Password-->
        <div class="form-group mb-3 custom-field">

            <label for="password" class="col-form-label custom-label">
                كلمة المرور
                <span class="text-danger">*</span>
            </label>

            <input
                type="password" class="form-control text-center custom-input"
                placeholder="ادخل كلمة المرور" dir="ltr"

                [(ngModel)]="formModel.password" name="password" 

                #password="ngModel" required maxlength="50"
            >

            <div *ngIf="(password.touched || password.dirty) && password.errors"
                class="custom-error-message">

                <p class="text-danger">
                    {{
                        password.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                    }}
                </p>

            </div>

        </div>
        <!-- #endregion -->

        <!-- #region FirstName-->
        <div class="form-group mb-3 custom-field">

            <label for="firstName" class="col-form-label custom-label">
                الاسم
                <span class="text-danger">*</span>
            </label>

            <input
                type="text" class="form-control text-center custom-input"
                placeholder="ادخل الاسم" dir="rtl"

                [(ngModel)]="formModel.firstName" name="firstName" 

                #firstName="ngModel" required maxlength="50"
            >

            <div *ngIf="(firstName.touched || firstName.dirty) && firstName.errors"
                class="custom-error-message">

                <p class="text-danger">
                    {{
                        firstName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                    }}
                </p>

            </div>

        </div>
        <!-- #endregion -->

        <!-- #region MiddleName-->
        <div class="form-group mb-3 custom-field">

            <label for="middleName" class="col-form-label custom-label">
                اسم الأب
                <span class="text-danger">*</span>
            </label>

            <input
                type="text" class="form-control text-center custom-input"
                placeholder="ادخل اسم الأب" dir="rtl"

                [(ngModel)]="formModel.middleName" name="middleName" 

                #middleName="ngModel" required maxlength="50"
            >

            <div *ngIf="(middleName.touched || middleName.dirty) && middleName.errors"
                class="custom-error-message">

                <p class="text-danger">
                    {{
                        middleName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                    }}
                </p>

            </div>

        </div>
        <!-- #endregion -->

        <!-- #region MiddleName-->
        <div class="form-group mb-3 custom-field">

            <label for="lastName" class="col-form-label custom-label">
                الكنية
                <span class="text-danger">*</span>
            </label>

            <input
                type="text" class="form-control text-center custom-input"
                placeholder="ادخل الكنية" dir="rtl"

                [(ngModel)]="formModel.lastName" name="lastName" 

                #lastName="ngModel" required maxlength="50"
            >

            <div *ngIf="(lastName.touched || lastName.dirty) && lastName.errors"
                class="custom-error-message">

                <p class="text-danger">
                    {{
                        lastName.errors['required'] ? 'هذا الحقل مطلوب'
                        : ''
                    }}
                </p>

            </div>

        </div>
        <!-- #endregion -->
        
        <!-- #region Buttons-->
        <div class="d-grid gap-3 mb-5 custom-buttons custom-form-buttons">
            
            <button type="submit" class="btn btn-outline-primary"
                [disabled]="!createDoctorUserForm.dirty || createDoctorUserForm.invalid">
                حفظ
                <i class="bi bi-save"></i>
            </button>

            <a [routerLink]="['..']">
                <button type="button" class="btn btn-outline-primary">
                    عودة
                    <i class="bi bi-arrow-left"></i>
                </button>
            </a>
        </div>
        
        <!-- #endregion -->
    
    </form>
</div>