<div class="custom-child" dir="rtl" style="cursor: auto;">
    <section class="section">

        <!-- #region Title -->
        <div class="container text-center mb-5 custom-title">
            <h2>الأطباء المسجلون في النظام:</h2>
        </div>

        <!-- #endregion -->

        <!-- #region container-->
        <div class="container">
            <div class="row gy-5 ">
                <div class="col-lg-4 col-md-6">
                    <app-doctor-user></app-doctor-user>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </section>
</div>