<div class="custom-child" dir="rtl" style="cursor: auto;">
    <section class="section">

        <!-- #region Title -->
        <div class="container text-center mb-3 custom-title">
            <h2>الأطباء المسجلون في النظام:</h2>
        </div>

        <!-- #endregion -->

        <!-- #region buttons-->
        <div class="text-center custom-create-button">
            <a [routerLink]="['create']"><button class="btn btn-lg btn-outline-success mb-5" style="width: 35%;">إضافة طبيب +</button></a>
        </div>
        <!-- #endregion -->

        <!-- #region container-->
        <div class="container">
            <div class="row gy-5 ">
                <div *ngFor="let doctorUser of doctorUsers" class="col-lg-4 col-md-6">
                    <app-doctor-user [doctorUser]="doctorUser"></app-doctor-user>
                </div>
            </div>
        </div>

        <!-- #endregion -->

    </section>
</div>