<div class="header sticky-top">


    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <div class="logo d-flex align-items-center me-auto">
                <img src="assets/images/logo.png" alt="Logo" width="100em" height="100em">
            </div>


            <h1 class="h3 m-auto custom-app-name">المركز الصّحي - برنامج الأطباء</h1>


            <nav class="navmenu custom-buttons">
                <ul>
                    <li><button class="btn btn-outline-secondary">اتصل بنا</button></li>
                    <li><button class="btn btn-outline-secondary">المواعيد اليوميّة</button></li>
                    <li><button class="btn btn-outline-secondary">الأطباء</button></li>
                    <li><button class="btn btn-outline-primary">القائمة الرئيسية</button></li>
                </ul>
            </nav>
        </div>

    </div>

</div>
