<div class="custom-child" dir="rtl">
    <div class="container text-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">اسم الدواء</th>
                <th scope="col">الشكل الدوائي</th>
                <th scope="col">سعة العلبة</th>
                <th scope="col">العيار</th>
                <th scope="col">الكمية</th>
              </tr>
            </thead>
            
            <tbody>

              <tr *ngFor="let medicine of medicines; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{medicine.name}}</td>
                <td>{{medicine.form}}</td>
                <td *ngIf="medicine.form==='حبوب'">{{medicine.amount}} حبة</td>
                <td *ngIf="medicine.form==='شراب'">{{medicine.amount}} مل</td>
                <td>{{medicine.dosage}}</td>
                <td>{{medicine.number}}</td>
              </tr>

            </tbody>
          </table>
    </div>

</div>