<div class="custom-child" dir="rtl">
    <div class="container text-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">اسم الدواء</th>
                <th scope="col">الشكل الدوائي</th>
                <th scope="col">سعة العلبة</th>
                <th scope="col">العيار</th>
                <th scope="col">الكمية</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>أسبيرين</td>
                <td>حب</td>
                <td>20 حبة</td>
                <td>1000</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>باراسيتامول</td>
                <td>شراب</td>
                <td>500 ملغ</td>
                <td>500</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>