<div class="custom-child" dir="rtl">
    <div class="container text-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">اسم الدواء</th>
                <th scope="col">سعة العلبة</th>
                <th scope="col">العيار</th>
                <th scope="col">الكمية</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>أسبيرين</td>
                <td>100 ملج</td>
                <td>مرتين في اليوم</td>
                <td>30</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>باراسيتامول</td>
                <td>500 ملج</td>
                <td>مرة واحدة في اليوم</td>
                <td>20</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>فيتامين سي</td>
                <td>200 ملج</td>
                <td>ثلاث مرات في اليوم</td>
                <td>40</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>