<div class="custom-child">
    <section class="main-home section light-background">

        <img src="assets/images/cover.png" alt="Cover">

        <div class="container position-relative">

            <div class="welcome position-relative">
                <h2 style="margin-left: 0.5em">المركز الطبي</h2>
                <br>
                <p style="font-weight: 500; color:var(--heading-color);">لدى مركز الدراسات والبحوث العلمية</p>
            </div>

            <div class="content row gy-4">

                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="why-box">
                        <h3 class="text-center">تسجيل الدخول</h3>
                        <p class="text-center text-light">
                            للاستفادة من خدمات هذا التطبيق، يحب عليك تسجيل الدخول أولاً
                        </p>
                        <div class="text-center">
                            <a href="#about" class="more-btn"><span>تسجيل الدخول </span> <i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        
                        <div class="row gy-4">

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4 style="font-size: 19px;">استعراض التاريخ المرضي</h4>
                                    <p class="text-center" style="font-weight: 500; color:var(--heading-color);">يوفر
                                        التطبيق امكانية استعراض التاريخ المرضي لموظفي المركز وأفراد عائلتهم
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-graph-up"></i>
                                    <h4>استخلاص الاحصائيات</h4>
                                    <p class="text-center" style="font-weight: 500; color:var(--heading-color);">من
                                        مزايا هذا التطبيق امكانية عرض احصائيات طبيّة لموظفي المركز
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-clock-history"></i>
                                    <h4>تنظيم دور الانتظار</h4>
                                    <p style="font-weight: 500; color:var(--heading-color);">يتيح هذا التطبيق إمكانية
                                        تنظيم أدوار انتظار المرضى </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>

