<div class="collection-item">

    <!-- #region icon -->
    <div class="icon">
        <i class="fas fa-user-md"></i>
        <span class="online-status busy"></span>
    </div>
    <!-- #endregion -->

    <!-- #region Name-->
    <div class="custom-user-full-name">
        <h3 style="border:none;">د. تيسير عبداللطيف الأحمر</h3>
    </div>
    <!-- #endregion -->

    <!-- #region details-->

    <div class="custom-user-data mb-2">
        <span>معلومات التواصل: </span>
        <span></span>
    </div>

    <div class="custom-user-data mb-1">
        <a><i style="margin-left: 0.3em;" class="bi bi-telephone"></i></a>
        <span>هاتف العمل: </span>
        <span>0312515011</span>
    </div>

    <div class="custom-user-data mb-1">
        <a><i style="margin-left: 0.3em;" class="bi bi-telephone"></i></a>
        <span>هاتف المنزل: </span>
        <span>0312515011</span>
    </div>   


    <!-- #endregion -->


</div>