<div class="custom-child">

    <!-- #region main-home -->
    <section class="main-home section light-background">

        <img src="assets/images/cover.png" alt="Cover">

        <div class="container position-relative">

            <div class="welcome position-relative">
                <h2 style="margin-left: 0.5em">المركز الطبي</h2>
                <br>
                <p style="font-weight: 500; color:var(--heading-color);">في مركز الدراسات والبحوث العلمية</p>
            </div>

            <div class="content row gy-4">

                <div class="col-lg-11 d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">

                        <div class="row gy-4">

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4>استعراض التاريخ المرضي</h4>
                                    <p class="text-center" style="font-weight: 500; color:var(--heading-color);">يوفر
                                        التطبيق امكانية استعراض التاريخ المرضي لموظفي المركز وأفراد عائلتهم
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-graph-up"></i>
                                    <h4>استخلاص الاحصائيات الطبيّة</h4>
                                    <p class="text-center" style="font-weight: 500; color:var(--heading-color);">من
                                        مزايا هذا التطبيق امكانية عرض احصائيات طبيّة عن موظفي المركز
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <i class="bi bi-clock-history"></i>
                                    <h4>معالجة قائمة الانتظار</h4>
                                    <p style="font-weight: 500; color:var(--heading-color);">يتيح هذا التطبيق إمكانية
                                        تنظيم أدوار انتظار المرضى </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- #endregion -->

    <!-- #region doctors -->
    <section id="doctors" class="doctors section">

        <div class="container section-title">
            <h2 style="margin-top: 1em;">الفريق الطبي</h2>
        </div>

        <div class="container mt">

            <div class="row gy-4">

                <div class="col-lg-6">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="assets/images/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>د. أحمد حافظ</h4>
                            <span>اخصائي جراحة وجه وفكين</span>
                            <div class="social">
                                <a><i class="bi bi-telephone"></i></a>
                                <a><i class="bi bi-envelope"></i></a>
                                <a><i class="bi bi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="assets/images/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>د. زهراء كنجو</h4>
                            <span>اخصائية تغذية</span>
                            <div class="social">
                                <a><i class="bi bi-telephone"></i></a>
                                <a><i class="bi bi-envelope"></i></a>
                                <a><i class="bi bi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="assets/images/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>د. رغدان ربيع</h4>
                            <span>اخصائي أمراض قلبية</span>
                            <div class="social">
                                <a><i class="bi bi-telephone"></i></a>
                                <a><i class="bi bi-envelope"></i></a>
                                <a><i class="bi bi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="assets/images/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>د. شام محمد</h4>
                            <span>اخصائية علاج فيزيائي</span>
                            <div class="social">
                                <a><i class="bi bi-telephone"></i></a>
                                <a><i class="bi bi-envelope"></i></a>
                                <a><i class="bi bi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- #endregion -->

    <!-- #region about -->
    <section id="about" class="about section" dir="rtl">

        <div class="container">

            <div class="row gy-4 gx-5">

                <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/images/about.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-center" style="margin-top:1em">عن المستوصف</h3>
                    <p class="text-center" style="font-weight: 600;">
                        يوفر مستوصف مركز الدراسات والبحوث العلمية الخدمات الطبية لموظفي المركز
                    </p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-pills"></i>
                            <div style="margin-right: 0.8em;">
                                <h5>الخدمات الدوائية</h5>
                                <p>يوفر المستوصف الأدوية من خلال صيدلية المستوصف</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-stethoscope"></i>
                            <div style="margin-right: 0.8em;">
                                <h5>خدمات المعاينة</h5>
                                <p>يوفر المستوصف خدمات المعاينة الطبية من قبل أطباء المستوصف الاختصاصيين</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-medkit"></i>
                            <div style="margin-right: 1.2em;">
                                <h5>خدمات الوصفات المكررة</h5>
                                <p>يهتم المستوصف بتنظيم الوصفات الدوائية المكررة وبيانات الأمراض المزمنة للموظفين وتوفير ما يلزم من الرعاية لهم</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </section>
    <!-- #endregion -->

</div>