<div class="collection-item">

    <!-- #region icon -->
    <div class="icon">
        <i class="bi bi-clock-history"></i>
    </div>
    <!-- #endregion -->

    <!-- #region Name-->
    <div class="mb-3" class="custom-user-full-name">
        <h3>{{model.fullName}}</h3>
    </div>
    <!-- #endregion -->

    <!-- #region details-->

    <div class="custom-user-data mb-4 mt-4">
        <span>نوع الزيارة:</span>
        <span style="margin-right: 0.5em;">{{getType()}}</span>
    </div>

    <div class="custom-user-data mb-4 mt-4">
        <span>ساعة الوصول:</span>
        <span style="margin-right: 0.5em;" dir="ltr">{{ model.arrivalTime | date: 'hh:mm a' }}</span>
    </div>
    <!-- #endregion -->

    <!-- #region buttons-->


    <div class="d-grid gap-3 custom-edit-button">
        <a>
            <button class="btn btn-outline-secondary" style="width: 100%;"
            (click)="onClickSend(); openModal(SendToDoctorModal)">
                إرسال إلى طبيب<i class="fas fa-arrow-left"></i>
            </button>
        </a>

        <div class="custom-delete-button">
            <button class="btn btn-outline-secondary"
            (click)="openModal(confirmDeleteModal)">
                <i class="fa fa-trash-alt"></i>
            </button>
        </div>

    </div>
    <!-- #endregion -->
</div>


<ng-template #confirmDeleteModal let-modal>
    <div class="modal-body">
        <div class="custom-child" dir="rtl">
            <p style="font-weight: 800;">هل أنت متأكد من رغبتك في حذف هذا المريض من قائمة الانتظار ؟</p>

            <div class="d-grid gap-3 custom-undo-button mb-3">
                <a>
                    <button class="btn btn-outline-secondary" style="width: 100%;"
                    (click)="modal.dismiss()">
                        إلغاء
                    </button>
                </a>
            </div>

                <a>
                    <div class="custom-edit-button">
                        <button class="btn btn-outline-secondary" style="width:100%;"
                        (click)="modal.dismiss(); onDelete()">
                            تأكيد
                        </button>
                    </div>
                </a>
                

        </div>
    </div>
</ng-template>


<ng-template #SendToDoctorModal let-modal>
    <div class="modal-body">
        <div class="custom-child" dir="rtl">
            <div class="custom-title mb-3">
                <h2>إرسال إلى طبيب</h2>
            </div>

            <div class="custom-select">
                <select class="text-center mb-3 form-control"
                [(ngModel)]="selectedDoctorId">
                    <option value="-1" disabled>يرجى اختيار الطبيب</option>
                    <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">د. {{doctor.name}}</option>
                </select>
            </div>

            <div class="d-grid gap-3 custom-undo-button mb-3">
                <a>
                    <button class="btn btn-outline-secondary" style="width: 100%;"
                    (click)="modal.dismiss()">
                        إلغاء
                    </button>
                </a>
            </div>

                <a>
                    <div class="custom-edit-button">
                        <button class="btn btn-outline-secondary" style="width:100%;"
                        (click)="onSendToDoctor(); modal.dismiss();">
                            تأكيد
                        </button>
                    </div>
                </a>                        
        </div>
            
    </div>
</ng-template>