<div class="collection-item">

    <!-- #region icon -->
    <div class="icon">
        <i class="bi bi-clock-history"></i>
    </div>
    <!-- #endregion -->

    <!-- #region Name-->
    <div class="mb-3" class="custom-user-full-name">
        <h3>أحمد عبدالله توفيق العلي</h3>
    </div>
    <!-- #endregion -->

    <!-- #region details-->

    <div class="custom-user-data mb-4 mt-4">
        <span>نوع الزيارة:</span>
        <span></span>
    </div>

    <div class="custom-user-data mb-4 mt-4">
        <span>ساعة الوصول:</span>
        <span></span>
    </div>
    <!-- #endregion -->

    <!-- #region buttons-->


    <a class="d-grid gap-3 custom-edit-button">
        <button class="btn btn-outline-secondary">
            إرسال إلى طبيب<i class="fas fa-arrow-left"></i>
        </button>
    </a>


    <!-- #endregion -->


</div>