<div class="collection-item">

    <!-- #region icon -->
    <div class="icon">
        <i class="fas fa-user-md"></i>
    </div>
    <!-- #endregion -->

    <!-- #region Name-->
    <div class="mb-3" class="custom-user-full-name">
        <h3>د. {{doctorUser.fullName}}</h3>
    </div>
    <!-- #endregion -->

    <!-- #region details-->

    <div class="custom-user-data mb-4 mt-4">
        <span>اسم المستخدم: </span>
        <span>{{doctorUser.userName}}</span>
    </div>
    <!-- #endregion -->

    <!-- #region buttons-->

    <div class="d-grid gap-3 custom-edit-button">
        <button class="btn btn-outline-secondary">
            تعديل <i class="bi bi-pencil-fill"></i>
        </button>
    </div>

    <!-- #endregion -->


</div>