<div class="collection-item">

    <!-- #region icon -->
    <div class="icon">
        <i class="fas fa-user-md"></i>
        <span *ngIf="doctor.status == statuses.Online" class="online-status online"></span>
        <span *ngIf="doctor.status == statuses.Busy" class="online-status busy"></span>
        <span *ngIf="doctor.status == statuses.InWork" class="online-status in-work"></span>
    </div>
    <!-- #endregion -->

    <!-- #region Name-->
    <div class="custom-user-full-name">
        <h3 style="border:none;">د. {{doctor.fullName}}</h3>
    </div>
    <!-- #endregion -->

    <!-- #region details-->

    <div *ngIf="doctor.phones.length !== 0" class="custom-user-data mb-2">
        <span>معلومات التواصل: </span>
    </div>

    <div *ngFor="let phone of doctor.phones" class="custom-user-data mb-1">
        <a><i style="margin-left: 0.3em;" class="bi bi-telephone"></i></a>
        <span>{{phone.name}}:</span>
        <p style="margin-right: 0.5em;">{{phone.phone}}</p>
    </div>


    <!-- #endregion -->


</div>