# Ignore node_modules directory
node_modules/

# Ignore json-server logs
logs/


# Ignore npm debug logs
npm-debug.log*

# Ignore IDE and editor configuration files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.tmp
*.bak
*.old