<div class="custom-child" dir="rtl">
    <section class="section">
        
        <!-- #region Title-->
        <div class="custom-title">
            <h2>الأطباء:</h2>
        </div>
        <!-- #endregion -->

        <!-- #region container-->
        <div class="container">
            <div class="row gy-5 ">
                <div class="col-lg-4 col-md-6">
                    <app-doctor-item></app-doctor-item>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </section>
</div>