/* #region Accordion*/
.accordion {
    margin-bottom: 1em;
    width: 75%;
    margin: auto;
}
.accordion-header{
    border: none;
    
}
.accordion-header .accordion-button{
    border: none;
    
}

.accordion-item {
    border: none;
}

.custom-accordion-header .btn-primary{
    width: 100%;
    background-color: var(--heading-color);
    font-weight: 700;
}

/* #endregion */
