<div class="custom-child">

    <div class="header">
        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <div class="logo d-flex align-items-center me-auto">
                    <img src="assets/images/logo.png" alt="Logo" width="100em" height="100em">
                </div>

                <div class="container app-name-container m-auto">
                    <h1 class="h3 custom-app-name mb-4">المركز الطبي - برنامج الأطباء</h1>
                    <h3 dir="rtl" *ngIf="userData!==null" class="h5 text-primary">أهلاَ <span *ngIf="userData.role===DOCTOR">د.</span> {{userData.fullName}}!</h3>
                </div>

                <!-- #region unregistered buttons -->
                <nav class="navmenu custom-buttons" *ngIf="userData === null">

                    <ul>
                        <li><a><button class="btn" [class]="{'btn-outline-secondary': true}"
                                    (click)="openLoginForm(loginModal)">تسجيل الدخول</button></a></li>

                        <li><a href="home#about"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('About'), 'btn-outline-secondary': !isSelected('About')}"
                                    (click)="selectButton('About')">عن المستوصف</button></a></li>

                        <li><a href="home#doctors"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Doctors'), 'btn-outline-secondary': !isSelected('Doctors')}"
                                    (click)="selectButton('Doctors')">الفريق الطبي</button></a></li>

                        <li><a href="home#"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Home'), 'btn-outline-secondary': !isSelected('Home')}"
                                    (click)="selectButton('Home')">الصفحة الرئيسية</button></a></li>

                    </ul>
                </nav>
                <!-- #endregion -->

                <!-- #region admin buttons -->
                <nav class="navmenu custom-buttons" *ngIf="userData?.role === ADMIN">

                    <ul>
                        <li class="dropdown">
                            <button
                                [ngClass]="{'btn': true, 'btn-outline-secondary': true, 'custom-selected-dropdown': showDropdown}"
                                (click)="showDropdown = !showDropdown">خيارات <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></button>
                            <ul [ngClass]="{'show': showDropdown}">
                                <li (click)="onLogout();"><a>تسجيل الخروج</a></li>
                            </ul>
                        </li>

                        <li><a><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Admin-Receptionists'), 'btn-outline-secondary': !isSelected('Admin-Receptionists')}"
                                    (click)="selectButton('Admin-Receptionists')">موظفو الاستقبال</button></a></li>

                        <li><a><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Admin-Dorctors'), 'btn-outline-secondary': !isSelected('Admin-Dorctors')}"
                                    (click)="selectButton('Admin-Dorctors')">الأطباء</button></a></li>

                        <li><a [routerLink]="'home'"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Home'), 'btn-outline-secondary': !isSelected('Home')}"
                                    (click)="selectButton('Home')">الصفحة الرئيسية</button></a></li>

                    </ul>
                </nav>
                <!-- #endregion -->

                <!-- #region doctor buttons -->
                <nav class="navmenu custom-buttons" *ngIf="userData?.role === DOCTOR">

                    <ul>
                        <li class="dropdown">
                            <button
                                [ngClass]="{'btn': true, 'btn-outline-secondary': true, 'custom-selected-dropdown': showDropdown}"
                                (click)="showDropdown = !showDropdown">خيارات <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></button>
                            <ul [ngClass]="{'show': showDropdown}">
                                <li (click)="onLogout();"><a>تسجيل الخروج</a></li>
                            </ul>
                        </li>

                        <li><a [routerLink]="'home'"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Home'), 'btn-outline-secondary': !isSelected('Home')}"
                                    (click)="selectButton('Home')">الصفحة الرئيسية</button></a></li>

                    </ul>
                </nav>
                <!-- #endregion -->

                <!-- #region receptionist buttons -->
                <nav class="navmenu custom-buttons" *ngIf="userData?.role === RECEPTIONIST">

                    <ul>
                        <li class="dropdown">
                            <button
                                [ngClass]="{'btn': true, 'btn-outline-secondary': true, 'custom-selected-dropdown': showDropdown}"
                                (click)="showDropdown = !showDropdown">خيارات <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></button>
                            <ul [ngClass]="{'show': showDropdown}">
                                <li (click)="onLogout();"><a>تسجيل الخروج</a></li>
                            </ul>
                        </li>

                        <li><a [routerLink]="'home'"><button class="btn"
                                    [class]="{'btn-outline-primary': isSelected('Home'), 'btn-outline-secondary': !isSelected('Home')}"
                                    (click)="selectButton('Home')">الصفحة الرئيسية</button></a></li>

                    </ul>
                </nav>
                <!-- #endregion -->
            </div>

        </div>

    </div>

    <!-- #region login pop-up -->
    <ng-template #loginModal let-modal>
        <div *ngIf="userData===null" class="modal-body">
            <app-login-form (loggedIn)="onLogin($event); modal.dismiss();" [parentModal]="modal"></app-login-form>
        </div>
    </ng-template>
    <!-- #endregion -->

</div>